/* Start Clobal Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* End Clobal Rules */
.parent{
    background-color: #eee;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* Meduim */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*End Global Rules */
/* Start Header */

.header{
   padding: 20px; 
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 60px;
}
.header .link{
   position: relative; 
}
.header .link:hover .icon span:nth-child(2){
width: 100%;
}
.header .link .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.header .link .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;

}
.header .link .icon span:first-child{

    width: 100%;
}
.header .link .icon span:nth-child(2){

    width: 60%;
    transition: 0.3s;
}
.header .link .icon span:last-child{
    
    width: 100%;
}
.header .link ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    /* display: none; */
    

}
.header .link ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: red green blue black ;
    position: absolute;
    right: 5px;
    top: -20px
}
/* End Header */